:root {
    --light-orange-button-color: rgba(227, 179, 89, 0.946);
    --transparent-black: rgba(0, 0, 0, 0.85);
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../assets/fonts/great-vibes.ttf') format('truetype'); 
} 

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/homeBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    opacity: 0.92;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    background-color: var(--transparent-black);
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
}

.navbar-logo {

}

.navbar-logo img {
    width: 50px;
    height: 50px;
    margin-top: auto;
}

.splash {
    text-align: center;
}

.golden-title {
    color: rgb(197, 138, 27);
    font-family: "Great Vibes", "cursive", sans-serif;
    /* text-shadow: rgb(0, 0, 0) -2.36667px 1.13333px 1.96803px; */
    font-size: 40px;
    padding: 10px;
    font-weight: 300;
}

.golden-title::first-letter {
    text-transform: capitalize;
}

.bold-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 1.5px;
}

ul li {
    list-style-type: none;
}

#blogs {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

ul li a {
    list-style-type: none;
    text-decoration: none;
    color: var(--transparent-black);
}

.suffix {
    position: relative;
    color: var(--transparent-black);
    padding: 15px 15px 15px 0;
    align-items: center;
}

#schedule {
    background-image: url("../assets/images/schedule.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    margin: 0;
    color: white;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

i{
    text-decoration: none;
    color: var(--transparent-black);
}

.page-links a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.logo img {
    padding: 5px;
    width: 100%;
} 

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 45px;
}

.starters span {
    color: #7b7b93;
}

.starters {
    margin: 20px 20px 20px 20px;
}

.button {
    background-color: var(--transparent-black);
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 12px;
}

.button:hover {
    bottom: 3px;
}

#book-button {
    border: 2px solid orange;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    margin-top: 20px;
}

#book-button:hover {
    background-color: rgb(46, 38, 38);
    cursor: pointer;
}

#view-button{
    color: white;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    border-style: none;
    position: relative;
    margin-bottom: 100px;
    margin-top: 20px;
}

#view-button:hover {
    color: rgb(197, 138, 27);
    bottom: 3px;
    cursor: pointer;
}

#blogs-button{
    color: white;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    border-style: none;
    position: relative;
}

#blogs-button:hover {
    color: rgb(197, 138, 27);
    bottom: 3px;
    cursor: pointer;
}

#booking {
    margin: 0px;
    background-color: var(--light-orange-button-color);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    border-style: none;
    height: 100%;
    width: 230px;
}

#booking:hover {
    background-color: rgb(201, 131, 10);
    cursor: pointer;
}

#header-title {
    font-family: 'Great Vibes' , sans-serif;
    color: rgb(197, 138, 27);
    font-size: 32px;
    margin-top: 5px;
    margin-left: 10px;
}

#header-title span {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

#price {
    position: relative;
    color: rgb(197, 138, 27);
    float: right;
    z-index: 500;
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    background-color: white;
}

.input-wrapper {
    font-size: 18px;
}

.form input {
    height: 42px;
    padding: 1em;
    border: none;
    border-right: 1px solid black;
}

.section-title {
    height: 300px;
}

.section-title-schedule {
    width: 545px;
}

.section-title-about {
    float: left;
    height: 100%;
    width: 60%;
}

.splash .section-title {
    font-size: 30px;
}

#featured-dishes {
    margin-top: 100px;
    text-align: center;
}

img:hover {
    transition-property: all;
    transition-duration: 0.32s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: scale(1.01);
    box-sizing: border-box;
}

.book {
    display: flex;
    width: 100%;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
}

.book-section-container {
    display: flex;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    width: 590px;
    height: 100%;
}

.book-section-container p {
    height: 24px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    -webkit-column-rule: 1px solid lightgrey;
    -moz-column-rule: 1px solid lightgrey;
    column-rule: 1px solid lightgrey;
}

/* input[type="date"]{
    background-color: #d7e3f0;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #796c6c;
    font-size: 18px;
    border: none;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="time"] {
    font-size: 18px;
    background-color: #dbd3d3;
} */

nav {
    width: 100%;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-links {
    float: right;
    line-height: 80px;
    text-shadow: var(--transparent-black) -2.36667px 1.13333px 1.96803px;
}

.social-links a {
    margin-left: 13px;
}

#about-us {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about-us-sider {
    padding: 20px;
    height: 380px;
    width: 40%;
    display: table-cell;
    vertical-align: middle;
}

#about-us-sider p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}

#featured-dishes {
    margin-top: 140px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* #newsletter-and-email {
    background-color: var(--transparent-black);
} */

.featured-dishes-container {
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    position: relative;
}

.dish-image-container{
    height: 330px;
    background-size: cover;
    background-position: center;
}

.featured-dishes-container span {
    position: relative;
    top: 200px;
    font-size: 50px;
    color: lightgray;
    height: 50px;
    padding: 10px;
}

.scroll-item h2 {
    vertical-align: middle;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.scroll-item p {
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
    color: grey;
    padding: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 500px;
}

#featured-dishes-price {
    margin-top: 17px;
    background-color: var(--light-orange-button-color);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    font-size: 18px;
    border-style: none;
    width: 70px;
}


/* .featured-dishes-container p:first-child {
    margin-bottom: 15px;
}

.featured-dishes-container p:last-child {
    margin-top: 15px;
} */

.scroll-container {
    width: 100%;
    height: 600px;  
    display: flex;
    overflow-x: scroll;
    white-space: wrap;
    
}

.scroll-item {
    flex: 0 0 auto;
    width: 310px;
    height: 100%;
    margin-right: 16px;
    white-space: wrap;
}

.scroll-container::-webkit-scrollbar{
    background-color: transparent;
  }

#black-background {
    background-color: var(--transparent-black);
    margin: 0 auto;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--light-orange-button-color);
    width: 80%;
    height: 450px;
}

#black-outer-background {
    background-color: var(--transparent-black);
    margin: 0 auto;
    width: 55%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-weekdays {
    margin-bottom: 30px;
}

.open-weekdays table {
    width: 545px;
    margin-bottom: 40px;
}

.open-weekdays th{
     text-align: center;
}

.open-weekdays td{
    text-align: center;
}

.open-weekdays tr:first-child{
    line-height: 32px;
}
.open-weekdays tbody tr{
    line-height: 10px;
}

.open-weekdays th:first-child {
    padding-right: 20px;
}

.open-weekdays th:last-child {
    padding-left: 20px;
}

.open-weekdays tbody td:first-child {
    padding-right: 20px;
}

.open-weekdays tbody td:last-child {
    padding-left: 20px;
}

.open-weekdays tbody td {
    font-size: 16px;
    line-height: 24px;
}

.open-weekdays thead th {
    padding-bottom: 10px;
}

.section-title-schedule .logo {
    margin-bottom: 7px;
}

.section-title-menu {
    text-align: center;
    height: 95%;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 10px;
}

#menu-container div:first-child {
    margin-right: 20px;
}

#menu-container div:last-child {
    margin-left: 20px;
}

.starters-menu {
    width: 50%;
}

.price-separator {
    position: relative;
    font-size: 15px;
    opacity: 0.85;
    height: 5px;
    padding-top: 15px;
    margin-top: -1px;
}

.price-separator::before {
    content: '';
    border-top: 1px dashed rgb(197, 138, 27);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
}

.starters li strong, .starters li span {
    position: relative;
    z-index: 1000;
    background-color: #f5f5f5;
}

.starters li {
    font-size: 18px;
    line-height: 2;
    height: 22px;
    margin-top: 20px;
}

.section-title-gallery {
    text-align: center;
    margin-top: 70px;
    line-height: 33px;
}

.gallery-photos {
    margin-top: 20px;
}

.gallery-photos table {
    width: 100%;
    margin: 0;
    padding: 5px;
    border-spacing: 0;
}

.gallery-photos td img{
    width: 100%;
    height: 100%;
    float: left;
    background-size: cover;
}

.gallery-photos td img:hover {
    opacity: 0.5;
}

.blogs {
    height: 70%;
    display: flex;
    padding-bottom: 20px;
    margin-top: 10px;
}

.blogs div {
    width: 50%;
    text-align: justify;
}

.blogs img {
    width: 100%;
    height: 320px;
}

.blogs div:first-child {
    padding-right: 15px;
}

.blogs div:last-child {
    padding-left: 15px;
}

.blog p, .blog pre, .blog h2 {
    
}

.section-title-blogs {
    height: 100%;
}

.blog h2 {
    height: 60px;
    width: 90%;
}

.blog p {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    width: 90%;
}

.blog pre {
    padding-top: 3px;
    height: 80px;
    width: 90%;
}

footer {
    height: 700px;
}

.footer-background-content {    
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/footer-background.jpeg");
    height: 470px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}

.footer-background-content h2, .footer-background-content li, .footer-background-content a {
    color: white;
}

.footer-background-content::before {
    content: "";
    filter: brightness(100%);
    transition: all .2s linear;
}

.footer-links li {
    font-size: 20px;
    line-height: 32px;
}

.footer-credentials {
    height: 80px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    padding: 15px 10px;
    width: 100%;
    justify-content: center;
    height: 50%;
}

.footer-links-2 {
    display: flex;
    padding: 15px 10px;
    width: 100%;
    justify-content: space-around;
}

#support {
    padding-left: 65px;
}

.footer-links div, .footer-links-2 div {
    padding: 20px 0px;
    width: 280px;
}

.footer-links i {
    color: rgb(197, 138, 27);
}

#newsletter-and-email input:not(:last-child) {
    background: transparent;
    width: 250px;
    height: 45px;
    color: rgba(245, 245, 220, 0.569);
    border-radius: 0;
    border-color: rgba(245, 245, 220, 0.569);
    border-width: 0.3px;
    padding-left: 7px;
    font-size: 15px;
    background-size: 20px;
    margin-top: 18px;
}

#newsletter-and-email h3{
   color:rgb(223, 184, 112);
   font-size: 16px;
}

#newsletter-and-email input:not(:last-child):focus {
    outline: none !important;
    border-color: rgba(245, 245, 220, 0.8);
}

#newsletter-and-email input:not(:last-child)::placeholder {
    color: rgba(245, 245, 220, 0.569);
}

#email-submit {
    background-image: url('../assets/images/send-icon.png');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 5px;
    background-color: transparent;
    border: none;
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: -40px;
    margin-top: -3px;
}

#email-submit:hover {
    opacity: 0.6;
    cursor: pointer;
}

.footer-links h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

#contact-info, #support, #shop, #information, #my-account li{
    text-align: justify;
    text-decoration: none;
}

#shop {
    padding-left: 60px;
}

#contact nav {
    height: 50px;
    justify-content: left;
}

.card-class {
    margin-left: 300px;
}

.card-class i {
    padding: 0px 15px;
}

#index-link {
    color: rgb(197, 138, 27);
}

#gallery {
    margin-bottom: 50px;
    padding-right: 3px;
}

#left-button:hover, #right-button:hover {
    color: #7b7b93;
    cursor: pointer;
}


/* Some queries for different types of window resolution */

@media screen and (max-width: 1515px) {
    #blogs, #menu, #featured-dishes, #about-us {
        width: 900px;
    }
}

@media screen and (max-width: 1300px) {
    #black-outer-background {
        width: 750px;
    }
}

@media screen and (max-width: 1120px) {
    footer {
        width: 1110px;
    }
}

@media screen and (max-width: 1058px) {
    #visitUs-link {
        display: none;
    }
}

@media screen and (max-width: 915px) {
    #blogs, #menu, #featured-dishes, #about-us {
        width: 100%;
    }

    .menu-container {
        display: block;
        margin: auto;
    }

    #blog-link, #shop-link, #contact-link, header .social-links {
        display: none;
    } 
}

@media screen and (max-width: 850px) {
    #menu {
        height: 930px;
    }

    #menu-container {
        display: block;
        width: 100%;
        text-align: justify;
    }

    .starters-menu {
        width: 100%;
        padding: 15px;
    }

    .starters {
        margin: 0;
        padding: 0;
    }

    #menu-container div:last-child {
        margin-left: 0;
        padding-top: 0;
    }

    #about-us {
        display: block;
        margin-top: 150px;
        margin-bottom: 35px;
        text-align: center;
    }

    #featured-dishes {
        margin-top: 10px;
    }

    .blogs {
        display: block;
        height: 85%;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .blogs div {
        width: 80%;
    }
    
    .blogs div:last-child {
        padding-top: 20px;
    }
    
    .blog {
        height: 50%;
        padding: 10px;
        display: inline-block;
        margin: 0 auto;
    }

    .gallery-photos {
        height: 200px;
    }

    .gallery-photos table {
        height: 100%;
    }

    .gallery-photos > table > tbody > tr:last-child {
        display: none;
    }

    .section-title-about {
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width: 712px) {
    .book {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    #black-background {
        width: 100%;
    }
}

@media screen and (max-width: 582px) {
    #index-link, #reservations-link, #menu-link {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .featured-dishes-container > div:nth-child(3) {
        display: none;
    }
}